// Google fonts Link
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
// Common
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
html {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
li,
ul,
ol,
img,
a {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inder', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/// transition
a {
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

// common button

.btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: $white-color;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;

  &.btn-primary {
    padding: 12px 65.5px;
    background-color: $primary-color;
    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
  &.btn-border {
    padding: 11px 50.5px;
    border: 1px solid $primary-color;
    color: $primary-color;
    &:hover {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: $white-color;
    }
  }
}
